<h1>Seja Bem-vindo</h1>
<p>O idioma usado é: <%= I18n.t('actual_locale') %></p>
<p><strong>Data:</strong><%= I18n.l(Date.today) %></p>

<p>Seu nome: <strong><%= @nome %></strong></p>
<p>Seu ambiente está em: <strong><%= env_rails %></strong></p>
<%= render "menu" %>